<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Port Russell</title>
  </head>
  <body>
    <header>
      <h1>Port Russell</h1>
      <nav>
        <a href="/">Accueil</a>
        <a href="/documentation">Documentation API</a>
      </nav>
    </header>
    <hr />
  </body>
</html>
