<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Port Russell - Connexion</title>
  </head>
  <body>
    <header>
      <h1>Port Russell</h1>
      <nav>
        <a href="/">Accueil</a>
        <a href="/documentation">Documentation API</a>
      </nav>
    </header>

    <hr />

    <h2>Bienvenue sur l’application Port Russell</h2>

    <p>Gérez les catways et leurs réservations facilement.</p>

    <h3>S'enregistrer</h3>

    <form action="/auth/register" method="POST">
      <label>Nom :</label><br />
      <input type="text" name="name" required /><br /><br />
      <label>Email :</label><br />
      <input type="email" name="email" required /><br /><br />

      <label>Mot de passe :</label><br />
      <input type="password" name="password" required /><br /><br />

      <button type="submit">S'incrire</button>
    </form>

    <br />

    <h3>Connexion</h3>

    <form action="/auth/login" method="POST">
      <label>Email :</label><br />
      <input type="email" name="email" required /><br /><br />

      <label>Mot de passe :</label><br />
      <input type="password" name="password" required /><br /><br />

      <button type="submit">Se connecter</button>
    </form>

    <br />

    <a href="/docs">Voir la documentation JSDoc</a>

    <hr />

    <footer>
      <p>Port Russell © 2025</p>
    </footer>
  </body>
</html>
